<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.subing.dao.SocketDao">
   <select id="selectHum" resultType="com.subing.po.Hum">
       select *from hum where humid=(SELECT max(humid) from hum)
   </select>
    <select id="selectTemp" resultType="com.subing.po.Temp">
        select *from temp where tempid=(SELECT max(tempid) from temp)
    </select>
    <select id="selectLight" resultType="com.subing.po.Light">
        select *from light where lightid=(SELECT max(lightid) from light)
    </select>
    <select id="selectSmoke" resultType="com.subing.po.Smock">
        select *from smoke where smokeid=(SELECT max(smokeid) from smoke)
    </select>
</mapper>
